body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../background.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Fjalla One', sans-serif;
}

header {
  padding: 20px 0px;
  background-color: rgba(0, 0, 0, 0.4);
}

header h1 {
  text-align: center;
  color: wheat;
  font-weight: lighter;
  letter-spacing: 2px;
}

.calculations {
  padding: 75px 0px 30px 0px;
}

.calculations .input-value {
  text-align: center;
  height: 48px;
}

.calculations .input-value input {
  font-size: 24px;
  padding: 10px 5px;
  border: 2px solid black;
  border-radius: 5px;
}

.calculations .input-value select {
  font-size: 24px;
  padding: 10px 5px;
  border: 2px solid black;
  width: 110px;
  border-radius: 5px;
}

.calculations .input-value button {
  font-size: 24px;
  padding: 10px 5px;
  border: 2px solid #ddd2d2;
  background-color: coral;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
}

.calculations .output-currence {
  text-align: center;
  color: white;
}

.calculations .output-currence .single-element {
  display: block;
  border-bottom: 2px solid white;
  width: 300px;
  text-align: center;
  margin: 20px auto;
}

.calculations .output-currence .single-element span {
  font-size: 24px;
  padding-right: 20px;
}

.calculations .output-currence .single-element h3 {
  font-size: 24px;
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  header h1 {
    font-size: 30px;
    letter-spacing: 3px;
  }
  .calculations {
    padding-top: 30px;
  }
  .calculations .output-currence .single-element span {
    font-size: 16px;
  }
  .calculations .output-currence .single-element h3 {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .calculations .input-value {
    padding-left: 5px;
    padding-right: 5px;
  }
  .calculations .input-value input {
    font-size: 14px;
    padding: 10px 5px;
    font-weight: bold;
  }
  .calculations .input-value select {
    font-size: 14px;
    padding: 10px 5px;
    width: 70px;
  }
  .calculations .input-value button {
    font-size: 14px;
    padding: 10px 5px;
    margin-left: 5px;
  }
}
/*# sourceMappingURL=index.css.map */